{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<center><h3>{{ title }}</h3></center>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}


    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>
        {{ form.product_img.label }}<br>
        {{ form.product_img(class="form-control") }}<br>
        {% for error in form.product_img.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <center><p>{{ form.submit(type="submit", class="btn btn-success btn-lg") }}</p></center>
    {{message}}

</form>
{% endblock %}