<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h3>Онлайн Магазин</h3>
        </a>

        <div class="col-md-3 text-end">
            {% if current_user.is_admin %}
            <a class="btn btn-secondary" href="/products" role="button">Добавить товар</a>
            {% endif %}

            {% if current_user.is_authenticated %}
            <a class="btn btn-secondary" href="/logout" role="button">{{ current_user.name }}</a>
            {% else %}
            <a class="btn btn-secondary" href="/login" role="button">Авторизация</a>
            <a class="btn btn-secondary" href="/register" role="button">Регистрация</a>
            {% endif %}
        </div>

    </header>
</div>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>